/*STYLES DO INDEX.HTML*/
/*geral*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

textarea:focus, input:focus {
    outline: none;

}

body{
    background-image: url(https://images6.alphacoders.com/648/648552.jpg);
    background-size: cover;
}


/*container login*/

#login-container{
    background-color: #F0FFF0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 6vh;
    border-radius: 10px;
    text-align: center;
}

h1{
    background-color: #F0FFF0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 5vh;
    border-radius: 10px;
    text-align: center;
}

/*formulário*/

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label {
    color: #323232;
    font-weight: bold;
    font-size: .8rem;
}

input {
    background-color: #F0FFF0;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid blue;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #F0FFF0;
    background-color: blue;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: black;
    transition: .5s;
}